<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hnzxl.trip.project.dao.SysAttachmentMapper">
	<resultMap id="BaseResultMap" type="cn.hnzxl.trip.project.model.SysAttachment">
		<id column="attachment_id" property="attachmentId" jdbcType="VARCHAR" />
		<result column="business_id" property="businessId" jdbcType="VARCHAR" />
		<result column="business_model" property="businessModel" jdbcType="VARCHAR" />
		<result column="business_type" property="businessType" jdbcType="VARCHAR" />
		<result column="attachment_name" property="attachmentName" jdbcType="VARCHAR" />
		<result column="attachment_size" property="attachmentSize" jdbcType="BIGINT" />
		<result column="attachment_type" property="attachmentType" jdbcType="VARCHAR" />
		<result column="attachment_path" property="attachmentPath" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		attachment_id, business_id, business_model, business_type, attachment_name, attachment_size,
		attachment_type, attachment_path, create_time, create_by, update_time, update_by
	</sql>

	<sql id="Base_Dynamic_Where">
		<where>
			<if test="businessId != null">
				AND business_id = #{businessId}
			</if>
			<if test="businessModel != null">
				AND business_model=#{businessModel}
			</if>
			<if test="businessType != null">
				AND business_type=#{businessType}
			</if>
			<if test="attachmentName != null">
				AND attachment_name=#{attachmentName}
			</if>
			<if test="attachmentSize != null">
				AND attachment_size=#{attachmentSize}
			</if>
			<if test="attachmentType != null">
				AND attachment_type=#{attachmentType}
			</if>
			<if test="attachmentPath != null">
				AND attachment_path=#{attachmentPath}
			</if>
		</where>
	</sql>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_attachment
		<include refid="Base_Dynamic_Where" />
		<if test="@Ognl@isNotEmpty( sortField )">
			order by ${sortField} ${sortOrder}
		</if>
		<if test="@Ognl@isEmpty( sortField )">
			order by create_time desc
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_attachment
		where attachment_id = #{attachmentId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_attachment
		where attachment_id = #{attachmentId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByParam" parameterType="map">
		delete from sys_attachment
		<include refid="Base_Dynamic_Where" />
	</delete>
	<insert id="insert" parameterType="cn.hnzxl.trip.project.model.SysAttachment">
		insert into sys_attachment (attachment_id, business_id, business_model,
		business_type, attachment_name, attachment_size,
		attachment_type, attachment_path, create_time,
		create_by, update_time, update_by
		)
		values (#{attachmentId,jdbcType=VARCHAR}, #{businessId,jdbcType=VARCHAR}, #{businessModel,jdbcType=VARCHAR},
		#{businessType,jdbcType=VARCHAR}, #{attachmentName,jdbcType=VARCHAR}, #{attachmentSize},
		#{attachmentType,jdbcType=VARCHAR}, #{attachmentPath,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
		#{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.hnzxl.trip.project.model.SysAttachment">
		insert into sys_attachment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="attachmentId != null">
				attachment_id,
			</if>
			<if test="businessId != null">
				business_id,
			</if>
			<if test="businessModel != null">
				business_model,
			</if>
			<if test="businessType != null">
				business_type,
			</if>
			<if test="attachmentName != null">
				attachment_name,
			</if>
			<if test="attachmentSize != null">
				attachment_size,
			</if>
			<if test="attachmentType != null">
				attachment_type,
			</if>
			<if test="attachmentPath != null">
				attachment_path,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="attachmentId != null">
				#{attachmentId,jdbcType=VARCHAR},
			</if>
			<if test="businessId != null">
				#{businessId,jdbcType=VARCHAR},
			</if>
			<if test="businessModel != null">
				#{businessModel,jdbcType=VARCHAR},
			</if>
			<if test="businessType != null">
				#{businessType,jdbcType=VARCHAR},
			</if>
			<if test="attachmentName != null">
				#{attachmentName,jdbcType=VARCHAR},
			</if>
			<if test="attachmentSize != null">
				#{attachmentSize},
			</if>
			<if test="attachmentType != null">
				#{attachmentType,jdbcType=VARCHAR},
			</if>
			<if test="attachmentPath != null">
				#{attachmentPath,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.hnzxl.trip.project.model.SysAttachment">
		update sys_attachment
		<set>
			<if test="businessId != null">
				business_id = #{businessId,jdbcType=VARCHAR},
			</if>
			<if test="businessModel != null">
				business_model = #{businessModel,jdbcType=VARCHAR},
			</if>
			<if test="businessType != null">
				business_type = #{businessType,jdbcType=VARCHAR},
			</if>
			<if test="attachmentName != null">
				attachment_name = #{attachmentName,jdbcType=VARCHAR},
			</if>
			<if test="attachmentSize != null">
				attachment_size = #{attachmentSize},
			</if>
			<if test="attachmentType != null">
				attachment_type = #{attachmentType,jdbcType=VARCHAR},
			</if>
			<if test="attachmentPath != null">
				attachment_path = #{attachmentPath,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=DATE},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=VARCHAR},
			</if>
		</set>
		where attachment_id = #{attachmentId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.hnzxl.trip.project.model.SysAttachment">
		update sys_attachment
		set business_id = #{businessId,jdbcType=VARCHAR},
		business_model = #{businessModel,jdbcType=VARCHAR},
		business_type = #{businessType,jdbcType=VARCHAR},
		attachment_name = #{attachmentName,jdbcType=VARCHAR},
		attachment_size = #{attachmentSize},
		attachment_type = #{attachmentType,jdbcType=VARCHAR},
		attachment_path = #{attachmentPath,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=DATE},
		create_by = #{createBy,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=DATE},
		update_by = #{updateBy,jdbcType=VARCHAR}
		where attachment_id = #{attachmentId,jdbcType=VARCHAR}
	</update>
</mapper>